Repository beyond-sw-camp/be08-fin-200OK-CONCENTRIC-backend, pull requests merged in 2024-10, with the labels that each got.

#60 [Feat/#22]/team 로직 및 엔티티 수정
  src/main/java/ok/backend/team/controller/TeamController.java
  src/main/java/ok/backend/team/domain/entity/Team.java
  src/main/java/ok/backend/team/domain/entity/TeamList.java
  src/main/java/ok/backend/team/domain/repository/TeamListRepository.java
  src/main/java/ok/backend/team/service/TeamService.java
Labels: Backend, Feat

#61 [feat/#34] 서비스 호출 변경
  src/main/java/ok/backend/friendship/service/FriendshipService.java
  src/main/java/ok/backend/member/service/MemberService.java
Labels: Backend, Feat

#63 [refactor/#29] 회원 엔티티
  src/main/java/ok/backend/common/security/util/SecurityUserDetailService.java
  src/main/java/ok/backend/friendship/domain/repository/FriendshipCustomRepositoryImpl.java
  src/main/java/ok/backend/member/domain/entity/Member.java
  src/main/java/ok/backend/member/service/MemberService.java
Labels: Backend, Feat

#64 [Feat/#51] 일정 시작/종료 전 알림 수신 여부 추가
  src/main/java/ok/backend/schedule/domain/entity/Schedule.java
  src/main/java/ok/backend/schedule/dto/req/ScheduleRequestDto.java
  src/main/java/ok/backend/schedule/dto/res/ScheduleResponseDto.java
  src/main/java/ok/backend/schedule/service/ScheduleService.java
Labels: Backend, Feat

#68 [feat/#65]: 알림 발송 서비스 구현
  src/main/java/ok/backend/BackendApplication.java
  src/main/java/ok/backend/member/controller/EmailController.java
  src/main/java/ok/backend/member/service/EmailService.java
  src/main/java/ok/backend/notification/controller/NotificationController.java
  src/main/java/ok/backend/notification/domain/entity/Notification.java
  src/main/java/ok/backend/notification/domain/entity/NotificationPending.java
  src/main/java/ok/backend/notification/domain/enums/NotificationType.java
  src/main/java/ok/backend/notification/domain/repository/NotificationPendingRepository.java
  src/main/java/ok/backend/notification/domain/repository/NotificationRepository.java
  src/main/java/ok/backend/notification/service/NotificationPendingService.java
  src/main/java/ok/backend/notification/service/NotificationService.java
  src/main/java/ok/backend/schedule/domain/entity/Schedule.java
  src/main/java/ok/backend/schedule/dto/res/ScheduleResponseDto.java
Labels: Backend, Feat

#67 [Feat/#22] 팀 서비스 수정, api 추가
  src/main/java/ok/backend/team/controller/TeamController.java
  src/main/java/ok/backend/team/domain/repository/TeamListRepository.java
  src/main/java/ok/backend/team/domain/repository/TeamRepository.java
  src/main/java/ok/backend/team/service/TeamService.java
Labels: Backend, Feat

#69 [Feat/#65] 스케줄 변경시 알림 반영
  src/main/java/ok/backend/notification/domain/entity/NotificationPending.java
  src/main/java/ok/backend/notification/domain/repository/NotificationPendingRepository.java
  src/main/java/ok/backend/notification/service/NotificationPendingService.java
  src/main/java/ok/backend/schedule/service/ScheduleService.java
Labels: Backend, Feat

#70 [Feat/#65] 알림 조회 API
  src/main/java/ok/backend/friendship/dto/FriendshipRequestResponseDto.java
  src/main/java/ok/backend/friendship/dto/FriendshipResponseDto.java
  src/main/java/ok/backend/member/dto/MemberResponseDto.java
  src/main/java/ok/backend/notification/controller/NotificationController.java
  src/main/java/ok/backend/notification/domain/repository/NotificationRepository.java
  src/main/java/ok/backend/notification/dto/NotificationResponseDto.java
  src/main/java/ok/backend/notification/service/NotificationService.java
Labels: Backend, Feat

#71 feat: 알림 읽음 처리 API
  src/main/java/ok/backend/common/exception/ErrorCode.java
  src/main/java/ok/backend/notification/controller/NotificationController.java
  src/main/java/ok/backend/notification/domain/entity/Notification.java
  src/main/java/ok/backend/notification/service/NotificationService.java
Labels: Backend, Feat

#72 [Feat/#51] ScheduleService domain.member -> memberService 수정
  src/main/java/ok/backend/schedule/controller/ScheduleController.java
  src/main/java/ok/backend/schedule/dto/req/ScheduleRequestDto.java
  src/main/java/ok/backend/schedule/dto/res/ScheduleResponseDto.java
  src/main/java/ok/backend/schedule/service/ScheduleService.java
Labels: Backend, Feat

#74 [Feat/#66] 채팅에 Kafka 연동 구현
  build.gradle
  src/main/java/ok/backend/chat/controller/ChatMessageController.java
  src/main/java/ok/backend/chat/domain/entity/ChatMessage.java
  src/main/java/ok/backend/chat/domain/entity/ChatRoom.java
  src/main/java/ok/backend/chat/dto/res/ChatMessageResponseDto.java
  src/main/java/ok/backend/chat/service/ChatMessageService.java
  src/main/java/ok/backend/common/config/kafka/KafkaConstants.java
  src/main/java/ok/backend/common/config/kafka/KafkaConsumerConfig.java
  src/main/java/ok/backend/common/config/kafka/KafkaProducerConfig.java
  src/test/java/ok/backend/chat/domain/entity/ChatMessageTest.java
Labels: Backend, Feat

#75 [Feat/#73] 파일 업로드
  src/main/java/ok/backend/common/config/MultipartConfig.java
  src/main/java/ok/backend/common/exception/ErrorCode.java
  src/main/java/ok/backend/friendship/service/FriendshipService.java
  src/main/java/ok/backend/member/controller/MemberController.java
  src/main/java/ok/backend/member/domain/entity/Member.java
  src/main/java/ok/backend/member/service/EmailService.java
  src/main/java/ok/backend/member/service/MemberService.java
  src/main/java/ok/backend/storage/controller/StorageController.java
  src/main/java/ok/backend/storage/controller/StorageFileController.java
  src/main/java/ok/backend/storage/domain/entity/Storage.java
  src/main/java/ok/backend/storage/domain/entity/StorageFile.java
  src/main/java/ok/backend/storage/domain/enums/StorageType.java
  src/main/java/ok/backend/storage/domain/repository/StorageFileRepository.java
  src/main/java/ok/backend/storage/domain/repository/StorageRepository.java
  src/main/java/ok/backend/storage/dto/StorageUploadResponseDto.java
  src/main/java/ok/backend/storage/service/StorageFileService.java
  src/main/java/ok/backend/storage/service/StorageService.java
  src/main/java/ok/backend/team/service/TeamService.java
Labels: Backend, Feat

#76 [Feat/#73] 파일 다운로드
  src/main/java/ok/backend/common/exception/ErrorCode.java
  src/main/java/ok/backend/storage/controller/StorageController.java
  src/main/java/ok/backend/storage/domain/repository/StorageFileRepository.java
  src/main/java/ok/backend/storage/dto/StorageResponseDto.java
  src/main/java/ok/backend/storage/service/StorageFileService.java
  src/main/java/ok/backend/storage/service/StorageService.java
Labels: Backend, Feat

#78 feat: 프로필 사진 요청 로직 #73
  src/main/java/ok/backend/storage/controller/StorageController.java
  src/main/java/ok/backend/storage/service/StorageFileService.java
  src/main/java/ok/backend/storage/service/StorageService.java
Labels: Backend, Feat

#80 [Feat/#73] 파일함 조회, 삭제, 파일 삭제 API 구현, 회원 탈퇴/팀 삭제 시 파일함 삭제 로직 추가
  src/main/java/ok/backend/member/service/MemberService.java
  src/main/java/ok/backend/storage/controller/StorageController.java
  src/main/java/ok/backend/storage/dto/StorageStatusResponseDto.java
  src/main/java/ok/backend/storage/service/StorageFileService.java
  src/main/java/ok/backend/storage/service/StorageService.java
  src/main/java/ok/backend/team/service/TeamService.java
Labels: Backend, Feat

#82 [Feat/#73] 채팅방 파일 업로드 로직 변경
  src/main/java/ok/backend/common/exception/ErrorCode.java
  src/main/java/ok/backend/storage/domain/entity/Storage.java
  src/main/java/ok/backend/storage/domain/entity/StorageFile.java
  src/main/java/ok/backend/storage/domain/enums/StorageType.java
  src/main/java/ok/backend/storage/domain/repository/StorageFileRepository.java
  src/main/java/ok/backend/storage/service/StorageFileService.java
  src/main/java/ok/backend/storage/service/StorageService.java
Labels: Backend, Feat

#83 [Feat/#81] 채팅방 파일 업로드 기능 구현
  src/main/java/ok/backend/chat/controller/ChatController.java
  src/main/java/ok/backend/chat/controller/ChatMessageController.java
  src/main/java/ok/backend/chat/domain/entity/ChatMessage.java
  src/main/java/ok/backend/chat/domain/entity/ChatRoom.java
  src/main/java/ok/backend/chat/domain/entity/Type.java
  src/main/java/ok/backend/chat/domain/repository/ChatRoomListRepository.java
  src/main/java/ok/backend/chat/dto/req/ChatMessageRequestDto.java
  src/main/java/ok/backend/chat/dto/res/ChatRoomResponseDto.java
  src/main/java/ok/backend/chat/service/ChatMessageService.java
  src/main/java/ok/backend/chat/service/ChatService.java
  src/main/java/ok/backend/storage/dto/StorageResponseDto.java
Labels: Backend, Feat

#86 [Refactor/#77] 팀 생성 및 삭제 시 채팅방 서비스 수정
  src/main/java/ok/backend/chat/service/ChatService.java
  src/main/java/ok/backend/team/service/TeamService.java
  src/main/resources/templates/chat.html
  src/main/resources/templates/chat_file.html
Labels: Backend, Refactoring

#87 [Feat/#22] 그룹 초대 메일 기능 구현
  src/main/java/ok/backend/member/service/EmailService.java
  src/main/java/ok/backend/team/controller/TeamController.java
  src/main/java/ok/backend/team/domain/entity/Team.java
  src/main/java/ok/backend/team/service/TeamSendingService.java
  src/main/java/ok/backend/team/service/TeamService.java
Labels: Backend, Feat

#88 [Feat/#22] 그룹 가입 테스트
  src/main/java/ok/backend/team/service/TeamService.java
Labels: Backend, Feat

#91 [Feat/#89] Cookie 반환 방식 -> Bearer 토큰 반환으로 변경, 프론트와 연동 테스트 완료
  src/main/java/ok/backend/common/config/SecurityConfig.java
  src/main/java/ok/backend/common/security/filter/JwtAuthenticationFilter.java
  src/main/java/ok/backend/common/security/util/JwtProvider.java
  src/main/java/ok/backend/member/controller/MemberController.java
  src/main/java/ok/backend/member/service/MemberService.java
Labels: Backend, Feat, Refactoring

#94 [Refactor/#93] member controller update 로직 변경
  src/main/java/ok/backend/common/config/SwaggerConfig.java
  src/main/java/ok/backend/common/config/swagger/MultipartJackson2HttpMessageConverter.java
  src/main/java/ok/backend/common/config/swagger/SwaggerConfig.java
  src/main/java/ok/backend/member/controller/MemberController.java
  src/main/java/ok/backend/member/domain/entity/Member.java
  src/main/java/ok/backend/member/dto/MemberUpdateRequestDto.java
  src/main/java/ok/backend/member/service/EmailService.java
  src/main/java/ok/backend/member/service/MemberService.java
Labels: Backend, Refactoring

#96 [Refactor/#95] 쿼리 메서드 수정
  src/main/java/ok/backend/schedule/domain/repository/ScheduleRepository.java
  src/main/java/ok/backend/team/domain/repository/TeamRepository.java
  src/main/java/ok/backend/team/service/TeamService.java
Labels: Backend, Refactoring

#100 [Refactor/#99] 이메일 전송, 인증 로직 변경
  src/main/java/ok/backend/common/exception/ErrorCode.java
  src/main/java/ok/backend/member/controller/EmailController.java
  src/main/java/ok/backend/member/service/EmailService.java
  src/main/java/ok/backend/member/service/MemberService.java
Labels: Backend, Refactoring

#101 [Refactor/#77] 채팅 메세지 조회 api 추가, stomphandler 인증 관련 수정
  .idea/modules/be08-fin-200OK-CONCENTRIC-backend.main.iml
  src/main/java/ok/backend/chat/controller/ChatMessageController.java
  src/main/java/ok/backend/chat/domain/repository/ChatMessageRepository.java
  src/main/java/ok/backend/chat/dto/res/ChatMessageResponseDto.java
  src/main/java/ok/backend/chat/service/ChatMessageService.java
  src/main/java/ok/backend/common/config/web/StompHandler.java
Labels: Backend, Feat, Refactoring

#102 [Feat/#65] 알림 읽음 상태 변경 추가
  src/main/java/ok/backend/notification/controller/NotificationController.java
  src/main/java/ok/backend/notification/domain/entity/Notification.java
  src/main/java/ok/backend/notification/domain/repository/NotificationRepository.java
  src/main/java/ok/backend/notification/service/NotificationPendingService.java
  src/main/java/ok/backend/notification/service/NotificationService.java
Labels: Backend, Feat

#106 [Feat/#103] AWS S3
  build.gradle
  src/main/java/ok/backend/common/config/S3Config.java
  src/main/java/ok/backend/member/service/EmailService.java
  src/main/java/ok/backend/storage/controller/StorageController.java
  src/main/java/ok/backend/storage/service/AwsFileService.java
  src/main/java/ok/backend/storage/service/StorageFileService.java
  src/main/java/ok/backend/storage/service/StorageService.java
Labels: Backend, Feat, Refactoring

#107 feat: 팀 프로필 이미지 저장 메소드 추가
  src/main/java/ok/backend/storage/service/StorageFileService.java
Labels: Backend, Feat

#109 [Feat/#108] 팀 엔티티 수정 및 팀원 강퇴 api 추가
  src/main/java/ok/backend/team/controller/TeamController.java
  src/main/java/ok/backend/team/domain/entity/Team.java
  src/main/java/ok/backend/team/dto/TeamResponseDto.java
  src/main/java/ok/backend/team/service/TeamService.java
Labels: Backend, Feat, Fix

#111 [Refactor/#104] 일정 진행도 관련 로직 수정
  src/main/java/ok/backend/schedule/service/ScheduleService.java
Labels: Backend, Fix, Refactoring

#114 [Refactor/#113] 채팅 서비스 DTO 변경
  src/main/java/ok/backend/chat/controller/ChatController.java
  src/main/java/ok/backend/chat/controller/ChatMessageController.java
  src/main/java/ok/backend/chat/domain/entity/ChatMessage.java
  src/main/java/ok/backend/chat/dto/req/ChatMessageRequestDto.java
  src/main/java/ok/backend/chat/dto/req/ChatRoomListRequestDto.java
  src/main/java/ok/backend/chat/dto/res/ChatMessageResponseDto.java
  src/main/java/ok/backend/chat/dto/res/ChatRoomListResponseDto.java
  src/main/java/ok/backend/chat/service/ChatMessageService.java
  src/main/java/ok/backend/chat/service/ChatService.java
Labels: Backend, Refactoring

#115 [Refactor/#113] 사고나서 다시고침
  src/main/java/ok/backend/chat/controller/ChatMessageController.java
  src/main/java/ok/backend/chat/service/ChatMessageService.java
Labels: Frontend, Fix

#118 [Refactor/#113] storage, chatMessage 서비스 수정
  src/main/java/ok/backend/chat/domain/entity/ChatMessage.java
  src/main/java/ok/backend/chat/dto/req/ChatMessageRequestDto.java
  src/main/java/ok/backend/chat/dto/res/ChatMessageResponseDto.java
  src/main/java/ok/backend/chat/service/ChatMessageService.java
  src/main/java/ok/backend/storage/controller/StorageController.java
  src/main/java/ok/backend/storage/service/StorageFileService.java
Labels: Backend, Refactoring

#121 [Feat/#119] 특정 회원 정보 반환 API 구현, dto 변경, 에러코드 추가
  src/main/java/ok/backend/common/exception/ErrorCode.java
  src/main/java/ok/backend/member/controller/MemberController.java
  src/main/java/ok/backend/member/dto/MemberResponseDto.java
Labels: Backend, Feat, Refactoring

#123 [Feat/#122] 특정 팀 소속 회원들의 정보 반환 API
  src/main/java/ok/backend/member/service/MemberService.java
  src/main/java/ok/backend/team/controller/TeamController.java
  src/main/java/ok/backend/team/domain/repository/TeamRepository.java
  src/main/java/ok/backend/team/dto/TeamMemberResponseDto.java
  src/main/java/ok/backend/team/service/TeamService.java
Labels: Backend, Feat

#124 [Fix]: S3 NOT FOUND 예외 처리
  src/main/java/ok/backend/friendship/service/FriendshipService.java
  src/main/java/ok/backend/member/service/MemberService.java
  src/main/java/ok/backend/storage/service/AwsFileService.java
Labels: Backend, Feat, Fix

#125 [Refactor/#119] 유저 로그인, 인증 로직 변경
  src/main/java/ok/backend/common/config/RedisConfig.java
  src/main/java/ok/backend/common/security/util/JwtProvider.java
  src/main/java/ok/backend/member/controller/MemberController.java
  src/main/java/ok/backend/member/domain/entity/RefreshToken.java
  src/main/java/ok/backend/member/domain/repository/RefreshTokenRepository.java
  src/main/java/ok/backend/member/service/MemberService.java
  src/main/java/ok/backend/member/service/RefreshTokenService.java
  src/main/java/ok/backend/storage/service/StorageFileService.java
Labels: Backend, Refactoring

#126 [Refactor/#119] Security filterchain 수정
  src/main/java/ok/backend/common/security/filter/JwtAuthenticationFilter.java
Labels: Backend, Feat, Refactoring

#127 [Refactor/#113] 채팅방 생성 시 res dto 수정, 웹소켓 ping-pong 구현
  src/main/java/ok/backend/chat/controller/ChatController.java
  src/main/java/ok/backend/chat/controller/WebsocketController.java
  src/main/java/ok/backend/chat/service/ChatService.java
Labels: Backend, Feat, Refactoring

#129 [Feat/#128] 채팅방별 마지막 메세지 반환 로직 작성
  .idea/modules/be08-fin-200OK-CONCENTRIC-backend.main.iml
  src/main/java/ok/backend/chat/controller/ChatMessageController.java
  src/main/java/ok/backend/chat/controller/WebSocketController.java
  src/main/java/ok/backend/chat/controller/WebsocketController.java
  src/main/java/ok/backend/chat/domain/entity/WebSocket.java
  src/main/java/ok/backend/chat/domain/repository/ChatMessageRepository.java
  src/main/java/ok/backend/chat/domain/repository/WebSocketRepository.java
  src/main/java/ok/backend/chat/dto/res/LastChatMessageResponseDto.java
  src/main/java/ok/backend/chat/dto/res/WebSocketResponseDto.java
  src/main/java/ok/backend/chat/service/ChatMessageService.java
  src/main/java/ok/backend/chat/service/WebSocketService.java
  src/main/java/ok/backend/common/config/web/StompHandler.java
  src/main/java/ok/backend/common/exception/ErrorCode.java
Labels: Backend, Feat

#130 [Refactor/#119] 로그아웃 로직, 회원탈퇴 로직 수정, 필터 수정
  src/main/java/ok/backend/common/security/filter/JwtAuthenticationFilter.java
  src/main/java/ok/backend/member/controller/MemberController.java
  src/main/java/ok/backend/member/service/MemberService.java
  src/main/java/ok/backend/storage/domain/entity/StorageFile.java
Labels: Backend, Refactoring

#132 [Refactor/#131] 파일 목록 조회 API 수정
  src/main/java/ok/backend/storage/domain/repository/StorageFileRepository.java
  src/main/java/ok/backend/storage/service/StorageFileService.java
Labels: Backend, Refactoring

#134 [Refactor/#133] jwt 관련 수정
  src/main/java/ok/backend/common/security/filter/JwtAuthenticationFilter.java
  src/main/java/ok/backend/common/security/util/JwtProvider.java
  src/main/java/ok/backend/member/service/RefreshTokenService.java
Labels: Backend, Refactoring

#136 [Feat/#135] 읽은 알림 삭제 api
  src/main/java/ok/backend/notification/controller/NotificationController.java
  src/main/java/ok/backend/notification/domain/repository/NotificationRepository.java
  src/main/java/ok/backend/notification/service/NotificationService.java
Labels: Backend, Feat

#138 [Test/#137] 채팅 서비스 테스트
  src/main/java/ok/backend/common/exception/ErrorCode.java
  src/test/java/ok/backend/chat/domain/entity/ChatMessageTest.java
  src/test/java/ok/backend/chat/service/ChatServiceTest.java
Labels: Backend, Test

#140 [Refactor/#139] s3 관련 로직 변경
  src/main/java/ok/backend/friendship/service/FriendshipService.java
  src/main/java/ok/backend/member/controller/MemberController.java
  src/main/java/ok/backend/member/dto/MemberResponseDto.java
  src/main/java/ok/backend/member/service/MemberService.java
  src/main/java/ok/backend/storage/service/AwsFileService.java
Labels: Backend, Feat, Refactoring

#143 [Test/#142] 팀, 파일함 기능 테스트
  src/main/java/ok/backend/team/dto/TeamRequestDto.java
  src/main/java/ok/backend/team/dto/TeamUpdateRequestDto.java
  src/test/java/ok/backend/storage/service/StorageFileServiceTest.java
  src/test/java/ok/backend/storage/service/StorageServiceTest.java
  src/test/java/ok/backend/team/service/TeamServiceTest.java
Labels: Backend, Test

#144 [Refactor/#141] 친구 요청 로직 변경
  src/main/java/ok/backend/friendship/controller/FriendshipController.java
  src/main/java/ok/backend/friendship/domain/repository/FriendshipRepository.java
  src/main/java/ok/backend/friendship/dto/FriendshipRequestResponseDto.java
  src/main/java/ok/backend/friendship/dto/FriendshipRequestUpdateDto.java
  src/main/java/ok/backend/friendship/service/FriendshipService.java
  src/main/java/ok/backend/member/domain/repository/MemberRepository.java
  src/main/java/ok/backend/member/service/MemberService.java
Labels: Backend, Feat, Refactoring

#146 [Refactor/#145] 팀 dto 수정
  src/main/java/ok/backend/team/dto/TeamRequestDto.java
  src/main/java/ok/backend/team/dto/TeamUpdateRequestDto.java
Labels: Backend, Refactoring

#147 [Test/#142] 채팅 메세지 엔티티 수정, 테스트명 수정
  src/main/java/ok/backend/chat/domain/entity/ChatMessage.java
  src/test/java/ok/backend/chat/service/ChatServiceTest.java
Labels: Frontend, Fix

#149 [Refactor] 팀 dto & 로직 수정
  src/main/java/ok/backend/team/dto/TeamResponseDto.java
  src/main/java/ok/backend/team/service/TeamService.java
Labels: Backend, Feat, Refactoring

#151 [Test/#142] 친구 기능 테스트
  src/main/java/ok/backend/chat/service/ChatService.java
  src/test/java/ok/backend/friendship/service/FriendshipServiceTest.java
Labels: Backend, Test

#152 [Fix/#142] 회원 확인 수정
  src/main/java/ok/backend/chat/service/ChatService.java
Labels: Backend, Fix

#153 [Test/#150] 회원 테스트
  src/test/java/ok/backend/member/MemberBase.java
  src/test/java/ok/backend/member/MockMember.java
  src/test/java/ok/backend/member/WithCustomSecurityContextFactory.java
  src/test/java/ok/backend/member/service/MemberServiceTest.java
Labels: Backend, Test

#156 [Docs] ReadMe 수정
  .github/cicd/README.md
  README.md
Labels: Docs

#157 [Test/#150] 유저 테스트
  src/main/java/ok/backend/member/service/MemberService.java
  src/test/java/ok/backend/member/MemberBase.java
  src/test/java/ok/backend/member/service/MemberServiceTest.java
Labels: Backend, Test

#158 [Docs] Update README.md
  README.md
Labels: Docs

#161 [Docs] Update README.md
  README.md
Labels: Docs

#163 [Test/#162] uiux 테스트 결과 추가
  .github/uiux/마이 페이지_알림_리스트.png
  .github/uiux/마이 페이지_알림_읽은 알림 삭제.png
  .github/uiux/메인 페이지_캘린더_월간 조회.png
  .github/uiux/메인 페이지_캘린더_일간 조회.png
  .github/uiux/메인 페이지_캘린더_주간 조회.png
  .github/uiux/알림_알림 드롭다운_알림 뱃지 및 조회.png
  .github/uiux/알림_알림 드롭다운_읽음 버튼.png
  .github/uiux/채팅.png
  .github/uiux/채팅_대화상대 선택.png
  .github/uiux/채팅_리스트_조회.png
  .github/uiux/채팅_리스트_즐겨찾기 토글 버튼.png
  .github/uiux/채팅_리스트_채팅 추가 드롭다운.png
  .github/uiux/채팅_리스트_채팅 추가_중복된 채팅방.png
  .github/uiux/채팅_상세 조회_채팅방 이름 변경 버튼(완료).png
  .github/uiux/채팅_상세 조회_채팅방 이름 변경 입력 필드.png
  .github/uiux/채팅_상세 조회_채팅방 참여자 리스트.png
  .github/uiux/채팅_알림 뱃지_안읽은 알림 뱃지 표시.png
  .github/uiux/채팅_즐겨찾기.png
  .github/uiux/채팅_채팅방.png
  .github/uiux/채팅_채팅방_채팅메시지 입력.png
  .github/uiux/채팅_채팅방_채팅메시지 전송.png
  .github/uiux/채팅_채팅방_채팅방 닫음.png
  .github/uiux/채팅_파일함_메세지 첨부파일 다운로드.png
  .github/uiux/채팅_푸시 알림_토스트 메세지 푸시.png
  .github/uiux/채팅_플로팅 버튼.png
  .github/uiux/채팅방_메세지_수신.png
  .github/uiux/채팅방_메세지_입력 필드.png
  .github/uiux/채팅방_메세지_전송.png
  .github/uiux/채팅방_파일함_이미지 파일 첨부.png
Labels: Docs, Test

#164 [Refactor/#108] teamupdate 반환 수정
  src/main/java/ok/backend/team/service/TeamService.java
Labels: Backend, Refactoring

#165 [Test/#150] 테스트 수정, 인증 테스트
  src/main/java/ok/backend/common/security/util/JwtProvider.java
  src/main/java/ok/backend/member/service/MemberService.java
  src/test/java/ok/backend/member/service/MemberServiceTest.java
Labels: Backend, Test

#167 [Feat/#166] security 설정 변경
  src/main/java/ok/backend/common/config/SecurityConfig.java
Labels: Backend, Feat

#168 [Feat/#128] 카프카 메세지 큐 개선
  src/main/java/ok/backend/chat/service/ChatMessageService.java
  src/main/java/ok/backend/common/config/kafka/KafkaConstants.java
Labels: Backend, Feat

#169 [Feat/#166] spring security
  .idea/.gitignore
  .idea/compiler.xml
  .idea/misc.xml
  .idea/modules.xml
  src/main/java/ok/backend/common/config/SecurityConfig.java
Labels: Backend, Feat, Refactoring

#173 [Refactor/#108] 팀 초대 이메일 수정
  src/main/java/ok/backend/member/service/EmailService.java
  src/main/java/ok/backend/team/controller/TeamController.java
  src/main/java/ok/backend/team/service/TeamSendingService.java
Labels: Backend, Feat

#176 [Feat/#174] 일정 로직 생성
  src/main/java/ok/backend/chat/service/ChatService.java
  src/main/java/ok/backend/notification/controller/NotificationController.java
  src/main/java/ok/backend/notification/service/NotificationPendingService.java
  src/main/java/ok/backend/schedule/controller/RoutineController.java
  src/main/java/ok/backend/schedule/controller/ScheduleController.java
  src/main/java/ok/backend/schedule/controller/SubScheduleController.java
  src/main/java/ok/backend/schedule/controller/TeamScheduleController.java
  src/main/java/ok/backend/schedule/domain/entity/Routine.java
  src/main/java/ok/backend/schedule/domain/entity/Schedule.java
  src/main/java/ok/backend/schedule/domain/entity/SubSchedule.java
  src/main/java/ok/backend/schedule/domain/entity/TeamSchedule.java
  src/main/java/ok/backend/schedule/domain/enums/DayOfWeek.java
  src/main/java/ok/backend/schedule/domain/enums/RepeatType.java
  src/main/java/ok/backend/schedule/domain/enums/Status.java
  src/main/java/ok/backend/schedule/domain/enums/Type.java
  src/main/java/ok/backend/schedule/domain/repository/RoutineRepository.java
  src/main/java/ok/backend/schedule/domain/repository/ScheduleRepository.java
  src/main/java/ok/backend/schedule/domain/repository/SubScheduleRepository.java
  src/main/java/ok/backend/schedule/domain/repository/TeamScheduleRepository.java
  src/main/java/ok/backend/schedule/dto/req/RoutineRequestDto.java
  src/main/java/ok/backend/schedule/dto/req/ScheduleRequestDto.java
  src/main/java/ok/backend/schedule/dto/req/SubScheduleRequestDto.java
  src/main/java/ok/backend/schedule/dto/req/TeamScheduleRequestDto.java
  src/main/java/ok/backend/schedule/dto/res/RoutineResponseDto.java
  src/main/java/ok/backend/schedule/dto/res/ScheduleResponseDto.java
  src/main/java/ok/backend/schedule/dto/res/SubScheduleResponseDto.java
  src/main/java/ok/backend/schedule/dto/res/TeamScheduleResponseDto.java
  src/main/java/ok/backend/schedule/service/RoutineService.java
  src/main/java/ok/backend/schedule/service/ScheduleService.java
  src/main/java/ok/backend/schedule/service/SubScheduleService.java
  src/main/java/ok/backend/schedule/service/TeamScheduleService.java
  src/main/java/ok/backend/team/domain/entity/Team.java
  src/main/java/ok/backend/team/service/TeamService.java
Labels: Backend, Feat, Fix

#178 [Fix/#177] 테스트 코드 수정
  src/main/java/ok/backend/schedule/service/ScheduleService.java
  src/test/java/ok/backend/chat/service/ChatServiceTest.java
  src/test/java/ok/backend/team/service/TeamServiceTest.java
Labels: Fix, Test

#180 [Refactor/#179] 배포에 따른 코드 수정
  Dockerfile
  src/main/java/ok/backend/common/config/SecurityConfig.java
  src/test/java/com/ok/backend/BackendApplicationTests.java
Labels: Backend, Refactoring
