Repository beyond-sw-camp/be08-fin-200OK-CONCENTRIC-backend, pull requests merged in 2024-09, with the labels that each got.

#8 [feat/#4] 채팅 엔티티 생성
  src/main/java/ok/backend/chat/domain/entity/ChatFile.java
  src/main/java/ok/backend/chat/domain/entity/ChatMessages.java
  src/main/java/ok/backend/chat/domain/entity/ChatRoom.java
  src/main/java/ok/backend/chat/domain/entity/ChatRoomList.java
Labels: backend

#10 [Feat/#6] 팀 엔티티 생성
  src/main/java/ok/backend/Teams/domain/TeamList.java
  src/main/java/ok/backend/Teams/domain/Teams.java
Labels: Backend, Feat

#12 [Feat/#7] schedule domain
  src/main/java/ok/backend/scedule/domain/entity/Routine.java
  src/main/java/ok/backend/scedule/domain/entity/Schedule.java
  src/main/java/ok/backend/scedule/domain/entity/TeamSchedule.java
Labels: Backend, Feat

#20 [Feat/#15] user domain logic
  src/main/java/ok/backend/common/config/RedisConfig.java
  src/main/java/ok/backend/common/config/SecurityConfig.java
  src/main/java/ok/backend/common/security/filter/JwtAuthenticationFilter.java
  src/main/java/ok/backend/common/security/util/JwtTokenProvider.java
  src/main/java/ok/backend/common/security/util/SecurityUser.java
  src/main/java/ok/backend/common/security/util/SecurityUserDetailService.java
  src/main/java/ok/backend/member/domain/entity/RefreshToken.java
  src/main/java/ok/backend/member/domain/repository/RefreshTokenRepository.java
  src/main/java/ok/backend/member/dto/MemberResponseDto.java
  src/main/java/ok/backend/member/service/RefreshTokenService.java
Labels: Backend, Feat

#21 [Feat/#15] user domain logic
  src/main/java/ok/backend/common/security/util/JwtTokenProvider.java
  src/main/java/ok/backend/member/controller/MemberController.java
  src/main/java/ok/backend/member/dto/MemberResponseDto.java
  src/main/java/ok/backend/member/service/MemberService.java
Labels: Backend, Feat

#23 [Feat/#19] 채팅 기능 1차 구현
  build.gradle
  src/main/java/ok/backend/chat/controller/ChatMessageController.java
  src/main/java/ok/backend/chat/domain/entity/ChatFile.java
  src/main/java/ok/backend/chat/domain/entity/ChatMessage.java
  src/main/java/ok/backend/chat/domain/entity/ChatRoom.java
  src/main/java/ok/backend/chat/domain/repository/ChatMessageRepository.java
  src/main/java/ok/backend/chat/dto/req/ChatMessageRequestDto.java
  src/main/java/ok/backend/chat/dto/res/ChatMessageResponseDto.java
  src/main/java/ok/backend/chat/exception/StompExceptionHandler.java
  src/main/java/ok/backend/chat/service/ChatMessageService.java
  src/main/java/ok/backend/common/config/database/MongoDbConfig.java
  src/main/java/ok/backend/common/config/web/StompHandler.java
  src/main/java/ok/backend/common/config/web/WebSocketConfig.java
Labels: Backend, Feat, Chore

#24 [Feat/#15] user domain logic
  src/main/java/ok/backend/common/security/util/JwtTokenProvider.java
  src/main/java/ok/backend/member/controller/MemberController.java
  src/main/java/ok/backend/member/domain/entity/Member.java
  src/main/java/ok/backend/member/dto/MemberUpdateRequestDto.java
  src/main/java/ok/backend/member/service/MemberService.java
  src/main/java/ok/backend/member/service/RefreshTokenService.java
Labels: Backend, Feat

#26 feat: 회원 정보 수정 API 수정
  src/main/java/ok/backend/member/controller/MemberController.java
  src/main/java/ok/backend/member/service/MemberService.java
Labels: Backend, Feat

#28 [feat/#27] Email logic
  src/main/java/ok/backend/common/config/EmailConfig.java
  src/main/java/ok/backend/member/controller/EmailController.java
  src/main/java/ok/backend/member/domain/entity/Email.java
  src/main/java/ok/backend/member/domain/entity/Member.java
  src/main/java/ok/backend/member/domain/repository/EmailRepository.java
  src/main/java/ok/backend/member/dto/EmailVerifyRequestDto.java
  src/main/java/ok/backend/member/service/EmailService.java
  src/main/java/ok/backend/member/service/MemberService.java
  src/main/java/ok/backend/member/service/RefreshTokenService.java
  src/main/java/ok/backend/scedule/domain/entity/Routine.java
Labels: Backend, Feat

#30 [refactor/#29] 회원 refactoring
  src/main/java/ok/backend/common/config/SecurityConfig.java
  src/main/java/ok/backend/member/controller/MemberController.java
  src/main/java/ok/backend/member/domain/entity/Member.java
  src/main/java/ok/backend/member/service/MemberService.java
Labels: Backend, Refactoring

#31 [Feat/#19] STOMP 테스트 생성, 코드 수정
  src/main/java/ok/backend/chat/controller/ChatMessageController.java
  src/main/java/ok/backend/common/config/SecurityConfig.java
  src/main/java/ok/backend/common/config/web/StompHandler.java
  src/main/java/ok/backend/common/config/web/WebSocketConfig.java
  src/main/resources/templates/chat.html
Labels: Backend, Feat

#36 [feat/#34] 친구 기능
  build.gradle
  src/main/java/ok/backend/common/config/QueryDslConfig.java
  src/main/java/ok/backend/friendship/controller/FriendshipController.java
  src/main/java/ok/backend/friendship/domain/entity/Friendship.java
  src/main/java/ok/backend/friendship/domain/entity/FriendshipRequest.java
  src/main/java/ok/backend/friendship/domain/enums/FriendshipStatus.java
  src/main/java/ok/backend/friendship/domain/repository/FriendshipCustomRepository.java
  src/main/java/ok/backend/friendship/domain/repository/FriendshipCustomRepositoryImpl.java
  src/main/java/ok/backend/friendship/domain/repository/FriendshipRepository.java
  src/main/java/ok/backend/friendship/domain/repository/FriendshipRequestRepository.java
  src/main/java/ok/backend/friendship/dto/FriendshipRequestDeleteRequestDto.java
  src/main/java/ok/backend/friendship/dto/FriendshipRequestDto.java
  src/main/java/ok/backend/friendship/dto/FriendshipResponseDto.java
  src/main/java/ok/backend/friendship/service/FriendshipService.java
  src/main/java/ok/backend/member/controller/EmailController.java
  src/main/java/ok/backend/member/domain/entity/Member.java
  src/main/java/ok/backend/member/domain/repository/MemberRepository.java
  src/main/java/ok/backend/member/service/MemberService.java
Labels: Backend, Feat

#37 [Feat/#35] 채팅 CRUD 구현
  src/main/java/ok/backend/chat/controller/ChatController.java
  src/main/java/ok/backend/chat/domain/entity/ChatFile.java
  src/main/java/ok/backend/chat/domain/entity/ChatRoom.java
  src/main/java/ok/backend/chat/domain/entity/ChatRoomList.java
  src/main/java/ok/backend/chat/domain/repository/ChatRoomListRepository.java
  src/main/java/ok/backend/chat/domain/repository/ChatRoomRepository.java
  src/main/java/ok/backend/chat/dto/req/ChatRoomRequestDto.java
  src/main/java/ok/backend/chat/dto/res/ChatMessageResponseDto.java
  src/main/java/ok/backend/chat/dto/res/ChatRoomListResponseDto.java
  src/main/java/ok/backend/chat/dto/res/ChatRoomResponseDto.java
  src/main/java/ok/backend/chat/service/ChatService.java
  src/main/java/ok/backend/common/config/web/WebSocketConfig.java
  src/main/resources/templates/chat.html
Labels: Backend, Feat

#41 [feat/#34] 친구 기능 API
  src/main/java/ok/backend/friendship/controller/FriendshipController.java
  src/main/java/ok/backend/friendship/domain/entity/Friendship.java
  src/main/java/ok/backend/friendship/domain/entity/FriendshipRequest.java
  src/main/java/ok/backend/friendship/domain/enums/FriendshipRequestStatus.java
  src/main/java/ok/backend/friendship/domain/repository/FriendshipCustomRepository.java
  src/main/java/ok/backend/friendship/domain/repository/FriendshipCustomRepositoryImpl.java
  src/main/java/ok/backend/friendship/domain/repository/FriendshipRequestRepository.java
  src/main/java/ok/backend/friendship/dto/FriendshipRequestResponseDto.java
  src/main/java/ok/backend/friendship/dto/FriendshipRequestUpdateDto.java
  src/main/java/ok/backend/friendship/service/FriendshipService.java
Labels: Backend, Feat

#42 [feat/#35] 레포지토리 메소드 수정
  src/main/java/ok/backend/chat/domain/repository/ChatRoomListRepository.java
  src/main/java/ok/backend/chat/service/ChatService.java
Labels: Backend, Feat

#44 [feat/#34]: 친구 삭제 API 추가
  src/main/java/ok/backend/friendship/controller/FriendshipController.java
  src/main/java/ok/backend/friendship/domain/repository/FriendshipCustomRepository.java
  src/main/java/ok/backend/friendship/domain/repository/FriendshipCustomRepositoryImpl.java
  src/main/java/ok/backend/friendship/dto/FriendshipDeleteRequestDto.java
  src/main/java/ok/backend/friendship/service/FriendshipService.java
Labels: Backend, Feat

#45 [Feat/#43] 예외 처리 로직 구현
  src/main/java/ok/backend/chat/service/ChatService.java
  src/main/java/ok/backend/common/exception/CustomException.java
  src/main/java/ok/backend/common/exception/ErrorCode.java
  src/main/java/ok/backend/common/exception/ErrorResponse.java
  src/main/java/ok/backend/common/exception/GlobalExceptionHandler.java
Labels: Backend, Feat

#48 [Feat/#35] 채팅 서비스 로그인 관련 로직 추가
  src/main/java/ok/backend/chat/controller/ChatController.java
  src/main/java/ok/backend/chat/domain/entity/ChatRoom.java
  src/main/java/ok/backend/chat/service/ChatMessageService.java
  src/main/java/ok/backend/chat/service/ChatService.java
  src/main/java/ok/backend/common/exception/ErrorCode.java
Labels: Backend, Feat

#49 [Feat/#22] team logic
  src/main/java/ok/backend/member/domain/entity/Member.java
  src/main/java/ok/backend/schedule/domain/entity/TeamSchedule.java
  src/main/java/ok/backend/team/controller/TeamController.java
  src/main/java/ok/backend/team/domain/entity/Team.java
  src/main/java/ok/backend/team/domain/entity/TeamList.java
  src/main/java/ok/backend/team/domain/repository/TeamRepository.java
  src/main/java/ok/backend/team/dto/TeamRequestDto.java
  src/main/java/ok/backend/team/dto/TeamResponseDto.java
  src/main/java/ok/backend/team/dto/TeamUpdateRequestDto.java
  src/main/java/ok/backend/team/service/TeamService.java
Labels: Backend, Feat

#50 [Feat/#22] TeamListRepository 추가
  src/main/java/ok/backend/team/domain/repository/TeamListRepository.java
Labels: Backend, Feat

#54 [refactor/#52] getLoggedInMember common으로 이동
  src/main/java/ok/backend/common/config/SecurityConfig.java
  src/main/java/ok/backend/common/config/web/StompHandler.java
  src/main/java/ok/backend/common/exception/ErrorCode.java
  src/main/java/ok/backend/common/security/filter/JwtAuthenticationFilter.java
  src/main/java/ok/backend/common/security/util/JwtProvider.java
  src/main/java/ok/backend/common/security/util/SecurityUserDetailService.java
  src/main/java/ok/backend/member/service/MemberService.java
  src/main/java/ok/backend/schedule/controller/TeamScheduleController.java
  src/main/java/ok/backend/schedule/service/TeamScheduleService.java
  src/main/java/ok/backend/team/controller/TeamController.java
Labels: Backend, Feat

#57 [Refactor/#52] 회원 인증 예외
  src/main/java/ok/backend/common/exception/ErrorCode.java
  src/main/java/ok/backend/common/security/filter/JwtAuthenticationFilter.java
  src/main/java/ok/backend/common/security/util/SecurityUserDetailService.java
  src/main/java/ok/backend/friendship/controller/FriendshipController.java
  src/main/java/ok/backend/friendship/dto/FriendshipDeleteRequestDto.java
  src/main/java/ok/backend/friendship/dto/FriendshipRequestDto.java
  src/main/java/ok/backend/friendship/dto/FriendshipRequestUpdateDto.java
  src/main/java/ok/backend/friendship/service/FriendshipService.java
  src/main/java/ok/backend/member/controller/MemberController.java
  src/main/java/ok/backend/member/dto/MemberUpdateRequestDto.java
  src/main/java/ok/backend/member/service/MemberService.java
Labels: Backend, Feat

#58 [refactor/#55] 회원 인증 로직 변경, 예외처리 추가, api 추가, 엔티티 추가
  src/main/java/ok/backend/chat/controller/ChatController.java
  src/main/java/ok/backend/chat/domain/entity/ChatRoom.java
  src/main/java/ok/backend/chat/domain/entity/ChatRoomList.java
  src/main/java/ok/backend/chat/domain/entity/Status.java
  src/main/java/ok/backend/chat/service/ChatService.java
  src/main/java/ok/backend/team/domain/repository/TeamListRepository.java
Labels: Backend, Feat, Refactoring
